.answerBtn {
    background-color: lightblue;
    margin: 0 1em;
    font-size: 1.2em;
    padding: .3em .6em;
}

.correct {
    color: green;
    font-size: 1.2em;
    text-align: left;
}

.incorrect {
    color: red;
    font-size: 1.2em;
    text-align: left;
}